@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.time{
    text-align: center;
    padding: 32px;
    box-sizing: border-box;
}

.time .time-container{
    max-width: 1200px;
    margin: 0 auto;
}
    
.time h3{
    font-family: "Lora", serif;
    font-weight: 300;
    font-size: 32px;   
    position: relative; 
    margin: 0;
    margin-bottom: 16px;
}

.time span{
    display: block;
    width: 30px;
    height: 4px;
    margin: 8px auto;
}

.time .div-cards{
    display: flex;
    flex-wrap: wrap;   
    gap: 16px;
}